body {
  background-color: #eee;
  color: #333;
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;

  @media only screen and (min-width: 666px) {
    font-size: 1.25rem;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}

a {
  border-bottom: 2px solid #333;
  color: #333;
  padding: 0 0px;
  text-decoration: none;
  transition: color 100ms linear;
  transition: background-color 100ms linear;
}

a:hover,
a:focus,
a:active,
a.active {
  background-color: #333;
  color: pink;
  transition: color 100ms linear;
  transition: background-color 100ms linear;
}

nav a,
a.titleLink {
  border-bottom: transparent;
  display: inline-block;
}

nav a {
  width: 100%;

  @media only screen and (min-width: 666px) {
    width: 200px;
  }
}

body {
  font-family: "Roboto Mono", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", "sans-serif";
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  width: 100%;

  @media only screen and (min-width: 666px) {
    width: 200px;
  }
}

main {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  @media only screen and (min-width: 666px) {
    padding-left: 2rem;
  }
}

.page {
  @media only screen and (min-width: 666px) {
    display: flex;
  }
}

header,
.page {
  padding: 0 1rem;

  @media only screen and (min-width: 666px) {
    padding: 0 2rem;
  }
}

::selection {
  color: pink;
  background: #333;
}

#reactions {
  display: none;
}

.socialLink {
  border-bottom: none;
}

a.socialLink,
a.socialLink:focus,
a.socialLink:active {
  background-color: transparent;
}

.socialMediaIcon {
  fill: #333;
  height: 2.5rem;
  width: 2.5rem;
}
